html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: 300;
  line-height: normal;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
  vertical-align: bottom;
}
del,
ins {
  text-decoration: none;
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
input,
button,
textarea,
select {
  font-size: 100%;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.ie6 .group {
  zoom: 1;
}
.ie7 .group {
  zoom: 1;
}
.contenido ul {
  padding-left: 30px;
}
.contenido li {
  margin-bottom: 5px;
}
.clear {
  clear: both;
}
.primera-palabra {
  word-spacing: 100vw;
}
.primera-palabra::first-line {
  color: #005E76;
  font-size: 20.8px;
  font-size: 1.3rem;
  line-height: 22px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.titulo-especial {
  font-family: 'Raleway', sans-serif;
  font-size: 22.4px;
  font-size: 1.4rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  color: #676767;
  position: relative;
}
.titulo-especial:before {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  left: 0;
  height: 100%;
  margin-right: -40px;
  border-bottom: 2px solid #F7AC11;
}
.anchoMax {
  width: 90%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.render-img {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
}
.esconder-texto {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.esconder {
  display: none !important;
  visibility: hidden;
}
.visualmenteescondido.focusable:active,
.visualmenteescondido.focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible;
}
.btn,
a.btn,
a.btn:visited {
  display: inline-block;
  margin: 4px;
  background-color: #003543;
  color: #fff;
  border: none;
  padding: 8px 20px;
  position: relative;
  font-weight: 300;
  border-radius: 4px;
  font-size: 16px;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn:hover,
a.btn:hover,
a.btn:visited:hover {
  background-color: #005E76;
  color: #fff;
}
.btn.claro,
a.btn.claro,
a.btn:visited.claro {
  background-color: #fff;
}
.btn-claro {
  display: inline-block;
  margin: 4px;
  background-color: #003543;
  color: #fff;
  border: none;
  padding: 8px 20px;
  position: relative;
  font-weight: 300;
  border-radius: 4px;
  font-size: 16px;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #fff;
}
.btn-claro:hover {
  background-color: #005E76;
  color: #fff;
}
.btn-claro.claro {
  background-color: #fff;
}
.btn-claro::before {
  border-color: #fff;
}
.btn-claro:hover {
  background-color: #f2f2f2;
}
.texto-resaltado {
  font-size: 25.6px;
  font-size: 1.6rem;
  color: #005E76;
  font-weight: 400;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span {
  margin-bottom: 16px;
  font-weight: 400;
  line-height: 110%;
}
h1 {
  font-size: 32px;
  font-size: 2rem;
}
h2 {
  font-size: 28.8px;
  font-size: 1.8rem;
}
h3 {
  font-size: 24px;
  font-size: 1.5rem;
}
h4 {
  font-size: 20.8px;
  font-size: 1.3rem;
}
h5 {
  font-size: 17.6px;
  font-size: 1.1rem;
}
a,
a:visited {
  color: #002832;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #F7AC11;
}
p {
  margin-bottom: 9.6px;
}
strong {
  font-weight: 600;
}
html {
  height: 100%;
  margin-bottom: 1px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 16px;
}
body {
  height: 100%;
  background-color: #002832;
  color: #676767;
  text-align: left;
  display: block;
  margin: 0 -10px;
  text-align: center;
  *zoom: 1;
}
body:before,
body:after {
  display: table;
  content: "";
}
body:after {
  clear: both;
}
img {
  max-width: 100%;
  height: auto;
}
.ancho {
  width: 90%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
aside {
  width: 33.333333333333336%;
  display: inline-block;
  vertical-align: top;
  padding: 0 10;
  margin: 10px -2px;
  text-align: left;
}
main {
  width: 66.66666666666667%;
  display: inline-block;
  vertical-align: top;
  padding: 0 10;
  margin: 10px -2px;
  text-align: left;
}
/*.sticky-wrapper {
		max-height: 0;
		display: table;
		width: 100%;
	}
	.sticky-wrapper.fijo {
		display: block;
		max-height: none;
		position: absolute;
		top: @altura-header;
	}*/
.fijo header {
  z-index: 100 !important;
  background-color: rgba(247, 172, 17, 0.9);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
  -webkit-animation: head-down 0.3s ease-out;
  animation: head-down 0.3s ease-out;
}
.fijo header .ancho {
  min-height: 84px;
}
.fijo header .logo img {
  max-height: 35px;
}
@-webkit-keyframes head-down {
  0% {
    top: -100px;
  }
  100% {
    top: 0px;
  }
}
@keyframes head-down {
  0% {
    top: -100px;
  }
  100% {
    top: 0px;
  }
}
nav.el-menu {
  display: inline-block;
  margin-left: auto;
}
#menu_chk {
  display: none;
}
.label_menu {
  margin-bottom: 0;
  cursor: default;
}
.label_menu > p {
  display: none;
}
.menu-ppl > ul {
  padding: 0;
  margin: 0;
  display: table;
  list-style: none;
  text-align: right;
  white-space: nowrap;
}
.menu-ppl > ul > li {
  display: inline-block;
  vertical-align: top;
  margin: 0 3px;
  position: relative;
}
.menu-ppl > ul > li > a {
  display: block;
  padding: 6px 10px;
  font-size: 19.2px;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
  outline: none;
  text-align: center;
  border: 1px solid #F7AC11;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-out 0.3s;
  transition: all 0.2s ease-out 0.3s;
}
.menu-ppl > ul > li:hover a,
.menu-ppl > ul > li:focus a {
  border-color: #fff;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.menu-ppl > ul > li.has-children > a {
  padding-right: 20px;
}
.menu-ppl > ul > li.has-children > a::after {
  content: '';
  position: absolute;
  right: 8px;
  bottom: 50%;
  margin-bottom: -3px;
  border-top: 4px solid #fff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.menu-ppl li.has-children {
  position: relative;
}
.menu-ppl li.has-children > ul {
  position: absolute;
  padding: 0;
  right: -5000px;
  top: -1px;
  list-style: none;
  background-color: #f7ac11;
  border: 1px solid #fff;
  border-radius: 10px;
  opacity: 0;
  z-index: 100000;
  -webkit-transition: right 0s linear 0.6s, opacity 0.3s linear 0.3s;
  transition: right 0s linear 0.6s, opacity 0.3s linear 0.3s;
}
.menu-ppl li.has-children:hover > ul {
  opacity: 1;
  z-index: 100001;
  -webkit-transition: right 0s linear 0s, opacity 0.2s linear 0s;
  transition: right 0s linear 0s, opacity 0.2s linear 0s;
}
.menu-ppl li.has-children li {
  position: relative;
}
.menu-ppl li.has-children li:hover > a::after,
.menu-ppl li.has-children li a:focus::after,
.menu-ppl li.has-children li:hover > a::before,
.menu-ppl li.has-children li a:focus::before {
  color: #fff;
}
.menu-ppl li.has-children li a::after,
.menu-ppl li.has-children li a::before {
  content: "•";
  font-weight: bold;
  position: absolute;
  top: 50%;
  margin-top: -11px;
  color: #F7AC11;
  -webkit-transition: color 0.3s linear 0s;
  transition: color 0.3s linear 0s;
}
.menu-ppl li.has-children li a::before {
  left: 5px;
}
.menu-ppl li.has-children li a::after {
  right: 5px;
}
.menu-ppl > ul > li.has-children > ul {
  top: 100%;
  margin-top: 10px;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}
.menu-ppl > ul > li.has-children:hover > ul {
  right: 50%;
}
.menu-ppl > ul > li.has-children li.has-children:hover > ul {
  right: 100%;
}
.menu-ppl > ul ul a {
  display: block;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#btn_menu {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 42px;
  height: 42px;
  background-image: url('../images/btn_menu.png');
  background-position: top;
  background-color: #005E76;
  border-radius: 5px;
  cursor: pointer;
  z-index: 21;
  -webkit-transition: background-color 0.2s ease-out 0s, right 0s ease-out 0s;
  transition: background-color 0.2s ease-out 0s, right 0s ease-out 0s;
}
#btn_menu:hover {
  background-color: #0087a9;
}
@media screen and (max-width: 1100px) {
  nav.el-menu {
    position: absolute;
    bottom: 3px;
    right: 0;
  }
  .label_menu {
    position: absolute;
    display: block;
    z-index: 20;
    bottom: 0;
    right: 0;
  }
  .menu-ppl {
    position: fixed;
    top: 0;
    right: -350px;
    bottom: 0px;
    height: 100%;
    background-color: #fff;
    z-index: 22;
    width: 300px;
    overflow-y: auto;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    -webkit-transition: right 0.3s ease-out;
    transition: right 0.3s ease-out;
  }
  .menu-ppl p {
    display: block;
  }
  .menu-ppl > ul {
    display: block;
    white-space: normal;
  }
  .menu-ppl > ul > li {
    display: block;
    margin: 0;
  }
  .menu-ppl > ul > li > a {
    padding: 8px 20px;
    text-align: right;
    color: #005E76;
    background-color: #fff;
    -webkit-transition: none;
    transition: none;
    font-size: 19.2px;
    font-size: 1.2rem;
  }
  .menu-ppl > ul > li > a:hover {
    background-color: #002832;
  }
  .menu-ppl > ul > li > a::before,
  .menu-ppl > ul > li > a::after {
    display: none;
  }
  .menu-ppl > ul > li.menu-item-has-children > ul {
    position: static;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    background-color: #e6e6e6;
    border: none;
  }
  .menu-ppl > ul > li.menu-item-has-children > ul a {
    text-align: right;
    color: #005E76;
  }
  .menu-ppl > ul > li.menu-item-has-children > ul a:hover,
  .menu-ppl > ul > li.menu-item-has-children > ul a:focus {
    background-color: #002832;
  }
  #menu_chk:checked + label,
  .label_menu.verMenu {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    background-color: rgba(51, 51, 51, 0.5);
  }
  #menu_chk:checked + label .menu-ppl,
  .label_menu.verMenu .menu-ppl {
    right: 0;
  }
  #menu_chk:checked + label #btn_menu,
  .label_menu.verMenu #btn_menu {
    right: 300px;
    bottom: auto;
    top: 0px;
    background-position: bottom;
    border-radius: 5px 0 0 5px;
    border-right: none;
    -webkit-transition: background-color 0.2s ease-out 0s, right 0.3s ease-out 0s;
    transition: background-color 0.2s ease-out 0s, right 0.3s ease-out 0s;
  }
  #btn_menu {
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 15px;
  }
  body {
    padding-top: 0;
  }
  .sticky-wrapper {
    height: auto !important;
  }
  .sticky-wrapper.fijo {
    position: static;
  }
  header.header {
    position: static !important;
  }
  header.header .ancho {
    min-height: 104px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 13px;
  }
  .menu-ppl {
    width: 250px;
  }
  #menu_chk:checked + label #btn_menu,
  .label_menu.verMenu #btn_menu {
    right: 250px;
  }
}
